.textarea {
    border-bottom: 1px solid #e9ebee;
}

.title{
    font-size: 16px !important;
    color: gray;
}

.post-card {
    box-shadow: 0 3px 6px rgba(54, 56, 182),
}

.card-header {
    padding: 0;
}

.question-div{
    display: block;
    padding: 20px;
    border-top: 1px solid #e9ebee;
    border-bottom: 1px solid #e9ebee;
}

.question-text {
    font-size: 18px !important;
    margin-bottom: 15px;
    color: black;
}

.date{
    font-size: 12px;
}